-
	var classes = ['list-group-item', 'btn-sm', 'list-group-item-action',
	'py-0', 'flex-column', 'align-items-start']
	var colClass = pars.length > 2 ? 'col-4' : 'col-6'
	
div(class=classes)
	div.py-1.row(class=rowClass)
		each par in pars
			div.px-1(class=colClass)!= par
	div.py-1.row(class=errClass)
		each ref,i in refs
			div.text-right.py-1.px-1(class=colClass)
				span= ref
				if linkToCopy[i] != ''
					button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=linkToCopy[i]) Copy link
				if textToCopy[i] != ''
					button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=textToCopy[i]) Copy text