-
	var classes = ['list-group-item', 'btn-sm', 'list-group-item-action',
	'py-0', 'px-2', 'flex-column', 'align-items-start']
	
div(class=classes)
	div(class=['row'] class=rowclass)
		div.col-6!= pars[0]
		div.col-6!= pars[1]
	div(class=['row'] class=errclass)
		div.col-6.text-right.py-1
			span= refs[0]
			if linkToCopy[0] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=linkToCopy[0]) Copy link
			if textToCopy[0] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=textToCopy[0]) Copy text
		div.col-6.text-right.py-1
			span= refs[1]
			if linkToCopy[1] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=linkToCopy[1]) Copy link
			if textToCopy[1] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=textToCopy[1]) Copy text