-
	var classes = ['list-group-item', 'btn-sm', 'list-group-item-action',
	'py-0', 'flex-column', 'align-items-start']
	var colclass = pars.length > 2 ? 'col-4' : 'col-6'
	
div(class=classes)
	div.py-1(class=['row'] class=rowclass)
		div.px-1(class=colclass)!= pars[0]
		div.px-1(class=colclass)!= pars[1]
		if pars.length > 2
			div.px-1(class=colclass)!= pars[2]
	div.py-1(class=['row'] class=errclass)
		div.text-right.py-1.px-1(class=colclass)
			span= refs[0]
			if linkToCopy[0] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=linkToCopy[0]) Copy link
			if textToCopy[0] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=textToCopy[0]) Copy text
		div.text-right.py-1.px-1(class=colclass)
			span= refs[1]
			if linkToCopy[1] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=linkToCopy[1]) Copy link
			if textToCopy[1] != ''
				button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=textToCopy[1]) Copy text
		if pars.length > 2
			div.text-right.py-1.px-1(class=colclass)
				span= refs[2]
				if linkToCopy[2] != ''
					button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=linkToCopy[2]) Copy link
				if textToCopy[2] != ''
					button.btn.btn-sm.btn-secondary.py-0.px-1.ml-1(type='button' data-text=textToCopy[2]) Copy text